/* ---------- NAVBAR ----------  */

#a {
    font-size: 14px;
    font-weight: 700;
}
.superNav {
    font-size: 13px;
}
.form-control {
    outline: none !important;
    box-shadow: none !important;
}

@media screen and (max-width: 540px) {
    .centerOnMobile {
    text-align: center;

}
}

#aXD{
    font-size: 15       px;
    transition: transform 0.2s ease-in-out;
    color: rgba(51, 51, 51, 0.801);
}
#aXD:hover{
    transform: scale(1.2);
    color: #8c7c62;
}
.img-hover {
    transition: transform 0.2s ease-in-out;
} 
.img-hover:hover {
    transform: scale(1.2);
}
/* ---------- PROFILE ----------  */
.w1 {
    width: 200px;
}
.w2 {
    width: 140px;
}
.hb {
    height: 140px;
    background-color: rgb(233, 236, 239);
}
.cf {
    color: rgb(166, 168, 170);
    font: bold 8pt Arial;
}
